<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="敏捷开发平台">
    <!-- 设置文档宽度、是否缩放 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <!-- 优先使用IE最新版本或chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>敏捷开发平台</title>
</head>
<body>
<div class="pusher">
    <div class="full-height">
        <div class="toc">
            <div class="ui left fixed vertical blue inverted sticky menu">
                <div class="item">
                    <div class="ui tiny image">
                        <img alt="Logo" src="../imgs/logo.png">
                    </div>
                    <a class="ui medium white inverted header">
                        敏捷开发平台
                    </a>
                </div>

                <div class="ui inverted styled accordion" style="background:  #2185d0;">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <a class="ui white inverted medium  header">需求分析</a>
                    </div>
                    <div class="content">
                        <a class="item" id="" href="javascript:void(0)">
                            <h3 class="ui white inverted header"> 需求管理与添加</h3>
                        </a>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <a class="ui white inverted medium  header">文档生成</a>
                    </div>
                    <div class="content">
                        <a class="item" id="list_doc_item" href="javascript:void(0)"><h3
                                class="ui white inverted header"> 文档模版查询</h3></a>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <a class="ui white inverted medium  header">代码生成</a>
                    </div>
                    <div class="content">
                        <div class="according" style="background:  #2185d0;">
                            <div class="title sub">
                                <i class="dropdown icon"></i>
                                <a class="ui white inverted medium  header">通过业务表生成</a>
                            </div>
                            <div class="content">
                                <a class="item" id="gen_table_item" href="javascript:void(0)"><h3
                                        class="ui white inverted header"> 业务表配置</h3></a>
                                <a class="item" id="gen_schema_item" href="javascript:void(0)"><h3
                                        class="ui white inverted header"> 生成方案配置</h3></a>
                            </div>
                            <div class="title sub">
                                <i class="dropdown icon"></i>
                                <a class="ui white inverted medium  header">通过模版生成</a>
                            </div>
                            <div class="content">
                                <a class="item" id="code_tpl_item" href="javascript:void(0)"><h3
                                        class="ui white inverted header"> 代码模版列表</h3></a>
                            </div>
                            <div class="title sub">
                                <i class="dropdown icon"></i>
                                <a class="ui white inverted medium  header">UML类图生成</a>
                            </div>
                            <div class="content">
                                <a class="item" id="uml_gen_item" href="javascript:void(0)"><h3
                                        class="ui white inverted header"> UML类图列表</h3></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="article">
            <div class="ui very padded blue inverted vertical segment fixed sticky top"
                 style="height: 106px;width: 100%">
                <div class="ui item">
                    <div class="ui white inverted small header">您好，欢迎来到敏捷开发平台</div>
                </div>
            </div>

            <div class="iframe" id="main_frame"
                 style="width:100%; background: #f9f9f9; margin: 107px 1px;"></div>
        </div>

    </div>
</div>

</body>
</html>