<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="敏捷开发平台">
    <!-- 设置文档宽度、是否缩放 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <!-- 优先使用IE最新版本或chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>敏捷开发平台</title>
</head>
<body>
<div class="pusher">
    <div class="full-height">
        <div class="toc">
            <div class="ui vertical blue inverted sticky menu fixed top">
                <div class="item">
                    <div class="ui tiny image">
                        <img alt="Logo" src="../imgs/logo.png">
                    </div>
                    <a class="ui header" style="margin-left: 15px;color: white;">
                        敏捷开发平台
                    </a>
                </div>
                <a class="item">代码生成</a>
                <a class="item">Test</a>
                <a class="item">Sign-in</a>
            </div>

        </div>
        <div class="article">
            <div class="a-title">
                <div class="item">

                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>