# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
gen/target
web/target
web/src/main/resources/static/node_modules
web/src/main/resources/static/assets
web/src/main/resources/templates
