.customBootstrap .pagination{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.customBootstrap .pagination > li{
    display : inline;
}

.customBootstrap .pagination > li > a {
    display: inline;
    margin-right: 5px;
    border-radius: 2px;
    background: #fff;
    color: #333;
    border-color: #ccc;
    padding: 6px 15px
}

.customBootstrap .pagination > li > a:hover, .customBootstrap .pagination > li > a:focus {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    cursor: default;
}

.customBootstrap .pagination > .active > a, .customBootstrap .pagination > .active > a:hover, .customBootstrap .pagination > .active > a:focus {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    cursor: default;
}

.customBootstrap .pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.customBootstrap .pagination .arrow2 {
    margin: 3px 8px 5px 0
}

.customBootstrap .pagination a:hover .arrow2 {
    border-right-color: #fff
}

.customBootstrap .pagination .arrow3 {
    margin: 3px 0 5px 8px
}

.customBootstrap .pagination a:hover .arrow3 {
    border-left-color: #fff
}

